/*总div大框*/
body{
    width: 100%;
    margin: 0 auto;
}
/*景点概述*/
.a{
    width: 1140%;
    height: 50px;
    font-size: 16px;
    line-height: 24px;
    padding: 40px 0 40px 0;
    background-color: #e8e8e8;
    margin-top: 5px;
}
#p{
    color: #62B5Ec;
    font-size: 30px;
    font-weight: normal;
    line-height: 22px;
}
#p1{
    margin: auto;
    color: #62B5Ec;
    font-size: 15px;
}
.b_left{
    width: 385px;
    height: 270px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    float: left;
    text-align: center;
}
.b_left>a{
    width: 385px;
    height: 24px;
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 20px;
    font-weight: normal;
}
.b_right img{
    width: 380px;
    height: 270px;
    margin: 0 10px 10px 0;
    float: left;
}